POSTGRES_DB=benchmark
POSTGRES_USER=benchmark
POSTGRES_PASSWORD=<postgres-password>
POSTGRES_PORT=5432

MINIO_ROOT_USER=<minio-root-user>
MINIO_ROOT_PASSWORD=<minio-root-password>
MINIO_S3_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_NOTIFY_WEBHOOK_VPS1=http://<vps1-host>:8080/webhooks/minio/classic
SERVERLESS_EVENT_TARGET=keda
MINIO_NOTIFY_NATS_ADDRESS=host.docker.internal:4222
MINIO_NOTIFY_NATS_SUBJECT=minio.images.raw.serverless
MINIO_NOTIFY_NATS_QUEUE_DIR=/tmp/minio-nats-events
MINIO_NOTIFY_NATS_QUEUE_LIMIT=100000

PROMETHEUS_PORT=9090
VPS1_METRICS_TARGET=<vps1-host>:8080
VPS1_NODE_EXPORTER_TARGET=<vps1-host>:9100
VPS2_NODE_EXPORTER_TARGET=host.docker.internal:9100
VPS3_NODE_EXPORTER_TARGET=host.docker.internal:9100
VPS1_CADVISOR_TARGET=<vps1-host>:8082
VPS2_CADVISOR_TARGET=host.docker.internal:8082
K3S_KUBE_STATE_METRICS_TARGET=host.docker.internal:30180
K3S_CADVISOR_TARGET=host.docker.internal:30181
K3S_KUBELET_TARGET=host.docker.internal:10250

LOKI_PORT=3100
GRAFANA_ADMIN_PASSWORD=<grafana-admin-password>
